.App {
  text-align: center;
}

html{
  background: linear-gradient(to right, #a1ffce, #faffd1);
}

.app-create,.app-scan{
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 80%;
  margin: 5rem auto;
  -webkit-box-shadow: -9px -10px 32px -15px rgba(0,0,0,0.52);
  -moz-box-shadow: -9px -10px 32px -15px rgba(0,0,0,0.52);
  box-shadow: -9px -10px 32px -15px rgba(0,0,0,0.52);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
